.logo{
    max-width: 500px;
}
.formLogin{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.bgBlue {
    background-color: #1c4865;
}